@font-face{font-family:'PT Sans';src:url("/pts55f.eot");src:local('PT Sans'),url("/pts55f.woff") format('woff'),url("/pts55f.ttf") format('truetype')}
@font-face{font-family:'GOGOL';src:url("/GOGOl.eot");src:url("/GOGOL.eot?#iefix") format("embedded-opentype"),url("/GOGOL.woff") format("woff"),url("/GOGOL.ttf") format("truetype"),url("/GOGOL.svg#BebasNeueRegular") format("svg");font-weight:normal;font-style:normal}
*{z-index:5}
body{padding:0;margin:0;font:14px "PT Sans",Helvetica,Arial,sans-serif;text-shadow:0 -1px 0 #969696;background-image:url("/images/background.png")}
a{color:#00b7ff;cursor:pointer}
ul{list-style-type:none}
.first-section{height:1849px;background-image:url("/images/title_img.png");background-position:top center;background-repeat:no-repeat}
.second-section{background-image:url("/images/wood.png");height:900px}
.third-section{background-image:url("/images/background_inverse.png");color:#fff}
.fourth-section{background-image:url("/images/background.png")}
.l-main,.l-about,.l-contacts{margin:0 auto;width:1000px}
.l-nav{list-style-type:none;zoom:1;margin:0;}
.l-nav:before,.l-nav:after{content:"";display:table}
.l-nav:after{clear:both}
.l-nav li{color:#544742;float:left;width:20%;text-align:center;padding:10px 0;}
.l-nav li a{text-shadow:0 -1px 0 #969696;color:#544742;}
.l-nav li a:hover{color:#86726a}
.l-main{height:1000px;}
.l-main .main-title,.l-main .main-contacts{text-align:center;position:absolute;width:424px;top:200px;left:50%;margin-left:-80px;color:#534741}
.l-main .main-title{font-size:48px;font-family:GOGOL;top:235px}
.l-main .main-contacts{top:415px}
.l-about{zoom:1;color:#cabaad;}
.l-about:before,.l-about:after{content:"";display:table}
.l-about:after{clear:both}
.l-about .b-pictures{font-family:'GOGOL';width:500px;float:left;}
.l-about .b-pictures li{zoom:1;margin-bottom:25px}
.l-about .b-pictures li:before,.l-about .b-pictures li:after{content:"";display:table}
.l-about .b-pictures li:after{clear:both}
.l-about .b-pictures img{float:left}
.l-about .b-pictures p{font-size:34px;padding-right:100px;padding-top:30px;float:right}
.l-about .b-about{padding-top:150px;float:left;font-size:13px;width:400px;}
.l-about .b-about p{margin-bottom:25px}
.l-services{margin:0 auto;width:1000px;zoom:1;padding-bottom:30px;}
.l-services:before,.l-services:after{content:"";display:table}
.l-services:after{clear:both}
.l-services .b-services{color:#cabaad;padding:100px 150px 30px;zoom:1;}
.l-services .b-services:before,.l-services .b-services:after{content:"";display:table}
.l-services .b-services:after{clear:both}
.l-services .b-services img{float:left}
.l-services .b-services p{float:right;width:500px;margin:0;font-size:13px}
.l-services .b-services-one,.l-services .b-services-two,.l-services .b-services-three{width:300px;float:left;margin-right:30px;font-size:13px;text-align:center;}
.l-services .b-services-one:last-child,.l-services .b-services-two:last-child,.l-services .b-services-three:last-child{margin-right:0}
.l-services .b-services-one p,.l-services .b-services-two p,.l-services .b-services-three p{text-align:left;color:#cabaad}
.l-services .b-services-one h3,.l-services .b-services-two h3,.l-services .b-services-three h3{text-align:left}
.l-contacts{zoom:1;padding-top:50px;padding-bottom:50px;}
.l-contacts:before,.l-contacts:after{content:"";display:table}
.l-contacts:after{clear:both}
.l-contacts img{float:left}
.l-contacts table{float:right;margin-top:150px;margin-right:100px;width:250px;color:#534741;}
.l-contacts table th{font-family:GOGOL;font-size:36px;color:#534741}
.l-contacts table td{padding:5px}
