@import nib

@font-face
  font-family: 'PT Sans'
  src: url('/pts55f.eot')
  src: local('PT Sans'), url('/pts55f.woff') format('woff'), url('/pts55f.ttf') format('truetype')

@font-face
  font-family: 'GOGOL'
  src: url('/GOGOl.eot')
  src: url('/GOGOL.eot?#iefix') format("embedded-opentype"), url('/GOGOL.woff') format("woff"), url('/GOGOL.ttf') format("truetype"), url('/GOGOL.svg#BebasNeueRegular') format("svg")
  font-weight: normal
  font-style: normal

navLinksColor = #544742
fontColor = #cabaad

*
  z-index 5

body
  padding 0
  margin 0
  font 14px "PT Sans", Helvetica, Arial, sans-serif
  text-shadow 0px -1px 0px rgba(150, 150, 150, 1)
  background-image url('/images/background.png')
a
  color #00B7FF
  cursor pointer

ul
  list-style-type none

.first-section
  height 1849px
  background-image url('/images/title_img.png')
  background-position top center
  background-repeat no-repeat

.second-section
  background-image url('/images/wood.png')
  height: 900px

.third-section
  background-image url('/images/background_inverse.png')
  color: #fff

.fourth-section
  background-image url('/images/background.png')


.l-main, .l-about, .l-contacts
  margin 0 auto
  width 1000px

.l-nav
  list-style-type none
  clearfix()
  margin 0
  li
    color navLinksColor
    float left
    width 20%
    text-align center
    padding 10px 0
    a
      text-shadow 0px -1px 0px rgba(150, 150, 150, 1)
      color navLinksColor
      &:hover
        color lighten(#544742, 25%)

.l-main
  height 1000px
  .main-title, .main-contacts
    text-align center
    position absolute
    width 424px
    top 200px
    left 50%
    margin-left -80px
    color #534741
  .main-title
    font-size 48px
    font-family GOGOL
    top 235px
  .main-contacts
    top 415px


.l-about
  clearfix()
  color fontColor
  .b-pictures
    font-family 'GOGOL'
    width 500px
    float left
    li
      clearfix()
      margin-bottom 25px
    img
      float left
    p
      font-size 34px
      padding-right 100px
      padding-top 30px
      float right
  .b-about
    padding-top 150px
    float left
    font-size 13px
    width: 400px
    p
      margin-bottom: 25px

.l-services
  margin 0 auto
  width 1000px
  clearfix()
  padding-bottom 30px

  .b-services
    color #cabaad
    padding 100px 150px 30px
    clearfix()
    img
      float left
    p
      float right
      width 500px
      margin 0
      font-size 13px

  .b-services-one, .b-services-two, .b-services-three
    width: 300px
    float left
    margin-right 30px
    font-size 13px
    text-align center
    &:last-child
      margin-right 0
    p
      text-align left
      color #cabaad
    h3
      text-align left

.l-contacts
  clearfix()
  padding-top 50px
  padding-bottom 50px
  img
    float left

  table
    float right
    margin-top 150px
    margin-right 100px
    width 250px
    color #534741
    th
      font-family GOGOL
      font-size 36px
      color #534741
    td
      padding 5px
